// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//@import "../../../public/components/normalize-scss/sass/normalize.scss";
//@import "../../../public/css/tranquilpeak.scss";
@import "../../bourbon/bourbon.scss";
@import "../../components/susy/sass/_susy.scss";
@import "../../components/font-awesome/scss/font-awesome.scss";

@import "utils/variables.scss";

@import 'utils/mixins/button.scss',
        'utils/mixins/opacity.scss',
        'utils/mixins/prefix.scss';

@import "reset.scss";
@import "typography.scss";
@import "layout.scss";
@import "sidebar.scss";
@import 'components/buttons.scss',
        'components/tooltip.scss';
.main-content-wrap {
    display: block;
    margin: auto;
    padding: 0 20px;
    max-width: 750px;
}


img {
    max-width: 100%;
}



.img-circle {
    border-radius: 50%;
}

.widgets {
    position: fixed;
    right: 5%;

    h3 {
        text-align: center;
        margin: .5em;
    }
}

.circle {
    width: 100px;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    color: #000;
}

.circle strong i {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}
