#blog, body, html {
    height: 100%;
}

#blog {

    position: relative;
    width: 100%;
}

#cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url(http://d1u9biwaxjngwg.cloudfront.net/covers/v1.3.0-cover.jpg);
    background-size: cover;
    z-index: -1;
}

#header, #about {
    display: none;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
}

#main {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 250px);

    min-height: 100%;
    padding-top: 15px;
    background-color: white;
}
