<div class="widget-wrap">
  <h3 class="title">About</h3>
    <img width="200" src="/images/avater.jpg"/>

    <div class="social">
        <ul>
            <li>
                <a href="https://www.facebook.com/seph.serg" target="_blank">
                    <span class="icon icon-facebook fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook-official fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="https://github.com/sephXD" target="_blank">
                    <span class="icon icon-github fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github-alt fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <p>Ting-Han Su</p>
    <p>Backend Developer</p>
    <p>❤ Coffee | Workout ❤</p>


</div>
