
<div class="site-footer">
    <div class="container wrapper">
        <div class="footer-main">
            <div class="section">
                <%- partial('_widget/about') %>
            </div>

            <div class="section">
                <%- partial('_widget/recent_posts') %>
            </div>

            <div class="section">

                <%- partial('_widget/tag') %>

                <%- partial('_widget/category') %>
            </div>
        </div>
    </div>

    <div class="copyrights">
        <div class="container wrapper">
            Copyrights © 2016 Ting-Han Su. All Rights Reserved.
        </div>
    </div>
</div>
