

.about {

  .about-section {
      padding-top: 30px;
      padding-bottom: 30px;
      border-top: 1px solid #e8e8e8;

  }

  .about-shorten {
    display: flex;
    margin: 20px 0;
    color: #444;
    letter-spacing: .5px;
    flex-direction: row;

    .avater {
      margin-right: 80px;
    }

    @include susy-breakpoint($mobile) {
      flex-direction: column;
      text-align: center;
      .avater {
        margin-right: 0;
      }
    }

    @include susy-breakpoint($pad) {
      flex-direction: column;
      text-align: center;
      .avater {
        margin-right: 0;
      }
    }



    .background {
      flex: 2 auto;
    }
  }

  .about-skill {

    .skill-item {
      position: relative;
      list-style: none;
      // display: flex;
      margin-top: 30px;

      .progress {
        // flex: 2 auto;
        margin: 10px 0;
        border-radius: 2px;
        overflow: hidden;
        background-color: #e8e8e8;
      }
      .progress-bar {
        // display: inline-block;
        width: 50%;
        height: 20px;
        background-color: #f4645f;
      }
    }

  }

  .timeline {
    position: relative;
    margin-left: 30px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 6px;
      height: 100%;
      background: #d7e4ed;
    }

    .timeline-item {
      position: relative;
      margin-bottom: 40px;
      padding-left: 30px;
      list-style: none;


      &:before {
        position: absolute;
        top: 1em;
        left: 0;
        width: 8px;
        height: 8px;
        margin-left: -2px;
        border: 1px solid #fff;
        border-radius: 8px;
        content: "";
        background-color: #bbb;
      }

      .timeline-title {
        margin-bottom: 0;
        line-height: 2.5em;
      }
    }
  }

  .paragraph {
    line-height: 2.5em;
    letter-spacing: 2px;
    // text-shadow: .1px ;
  }

  .gallery {
      .portfolio {
          .thumb {
              width: 100%;
              padding-bottom: 60%;
              background-size: cover;
              background-position: center;
          }
          .title {
              text-align: center;
          }
      }
  }
}
